header {
	width: 100%;
	min-width: 800px;
	height: 70px;
	background-color: #CEE2F9;
	position: absolute;
	z-index: 9;
}

header h1 {
	position: absolute;
	left: 45px;
	top: 50%;
	margin-top: -15px;
	height: 30px;
}

header .login-state {
	position: absolute;
	right: 0px;
	height: 100%;
}

header .login-state p {
	position: absolute;
	right: 80px;
	margin-right: 30px;
	line-height: 60px;
}

header .login-menu {
	position: absolute;
	right: 0;
	width: 80px;
	height: 100%;
}

header .login-menu:hover {
	background-color: #3D6B9E;
	cursor: pointer;
}

header input {
	background-color: inherit;
	width: 80px;
	height: 100%;
}

header .login-menu .login-item {
	height: 100%;
	background-color: #3D6B9E;
	text-align: center;
	display: none;
}
header .login-menu .login-item:hover{
	background-color: #DAE8F9;
}
